@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
*
{
    font-family: 'Mulish', sans-serif !important;
    scroll-behavior: smooth !important;
}
.navbar
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
}
.navbar a
{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.list
{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 30px;
    margin-top: 10px;
}
#toggler, .navbar label{
    display: none;
}
@media screen and (max-width: 825px)
{
    .menu
    {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list
    {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label
    {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~.menu
    {
        max-height: 100%;
    }
}
.nav-link 
{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
.nav-link:hover 
{
    opacity: 1;
}
.nav-link::before 
{
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #fff;
}  
.nav-link-ltr::before 
{
    width: 0%;
    bottom: 5px;
}
.nav-link-ltr:hover::before 
{
    width: 100%;
}
/* general */
.custom-justify
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* banner */
.custom-banner
{
    background-image: linear-gradient(#323232bd, #241c1c7a),url("../image/banner.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-banner h1
{
    display: flex;
    justify-content: center;
    color: #fff !important;
    font-size: 3.5rem;
}
.content-title
{
    padding-top: 23%;
}
@media screen and (max-width: 600px)
{
    .custom-banner
    {
        height: 100vh;
    }
    .content-title
    {
        padding-top: 50% !important;
    }
}
/* order list */
.custom-order ul {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }
  
.custom-order ul li {
    max-width: 12rem;
    justify-self: center;
    display: grid;
    grid-template:
      "icon"
      "line"
      "dot"
      "title"
      "descr" 1fr;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
}  
.custom-order ul li .icon {
    grid-area: icon;
    width: 6rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    color: white;
    font-size: 2.5rem;
    border: 0.4rem solid var(--bgColor);
    border-radius: 50%;
    background: var(--accent-color);
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
      inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
  }
  
.custom-order ul li::before {
    content: "";
    grid-area: line;
    height: 2rem;
    border-right: 2px dotted currentColor;
  }
  
.custom-order ul li::after {
    content: "";
    grid-area: dot;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-color);
    justify-self: center;
    margin-bottom: 0.5rem;
  }
  
.custom-order ul li .title {
    grid-area: title;
    margin-block: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
/* eligibility */

.ol-cards {
    --ol-cards-color-bg: var(--color-bg);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 45em;
    padding: 2em;
    gap: 0.5em;
    counter-reset: ol-cards-counter;
  }  
  .ol-cards li {
    display: grid;
    grid-template-areas:
      "step title"
      "step content";
    padding: 1em 2em 1em 0;
    row-gap: 0.5em;
    column-gap: 2em;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.4),
      inset 0.05em 0.05em rgba(255, 255, 255, 1);
    counter-increment: ol-cards-counter;
    text-align: left;
    background-color: var(--ol-cards-color-bg);
  }
  .ol-cards.alternate li:nth-child(even) {
    grid-template-areas:
      "title step"
      "content step";
    padding: 1em 0 1em 2em;
  }
  
  .ol-cards li .step {
    grid-area: step;
    display: flex;
    align-self: flex-start;
    background-color: var(--ol-cards-color-accent);
    border-radius: 0 50em 50em 0;
    padding: 1em;
    justify-content: flex-end;
    box-shadow: inset 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.4),
      0em 0.05em rgba(255, 255, 255, 1);
    flex: 1;
    gap: 1em;
  }
  
  .ol-cards li .step::before {
    content: "0" counter(ol-cards-counter);
    flex: 1;
    align-self: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0.025em 0.025em 0.125em rgba(0, 0, 0, 0.4);
  }
  .ol-cards.alternate li:nth-child(even) .step {
    border-radius: 50em 0 0 50em;
    flex-direction: row-reverse;
  }
  
.ol-cards li .step i {
  color: var(--ol-cards-color-accent);
  width: 2em;
  height: 2em;
  font-size: 1.8em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--ol-cards-color-bg);
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.4),
    inset 0.05em 0.05em rgba(255, 255, 255, 1);
}
  
.ol-cards li .title {
  grid-area: title;
  color: var(--ol-cards-color-accent);
  font-weight: bold;
}
.ol-cards li .content {
  /* grid-area: content; */
  font-size: 1.3rem;
}
@media only screen and (max-width: 500px) {
  .ol-cards{
    padding: 1em;
  }
  .ol-cards li{
    column-gap: 0em;
    grid-template-areas:
      'step title'
      'content content';
    grid-template-columns: min-content auto;
    padding: 1em 0em;
  }
  .ol-cards.alternate li:nth-child(even){
    column-gap: 0em;
    grid-template-areas:
      'title step'
      'content content';
    grid-template-columns: auto min-content ;
    padding: 1em 0em;
  }
  .ol-cards li .title{
    padding: 0 1em;
    align-self: center;
    width: auto;
    
  }
  .ol-cards li .step{
    font-size: .5em;
  }
  .ol-cards li .content{
    padding: 0 1em;
  }
}
  /* price */
.custom-price-section
{
  background-image: linear-gradient(#323232fa, #241c1ccf),url("../image/price-banner.webp");
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
/* contact */
section {
  padding: 60px 0;
  min-height: 100vh;
}
.contact-info {
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
background: #071c34;
padding: 30px 0px;
}
.contact-page-sec .contact-page-form h2 {
color: #071c34;
text-transform: capitalize;
font-size: 22px;
font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
padding-left: 0;
}  
.contact-page-form.contact-form input {
margin-bottom: 5px;
}  
.contact-page-form.contact-form textarea {
height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
background: #071c34;
width: 150px;
border-color: #071c34;
}
.contact-info-icon i {
font-size: 48px;
color: #fda40b;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
color: #fff;
font-size: 22px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 10px;
}
.contact-info-text span {
color: #999999;
font-size: 16px;
display: inline-block;
width: 100%;
}

.contact-page-form input {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
margin-bottom: 20px;
padding: 12px 16px;
width: 100%;
border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
}
.single-input-field textarea {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
width: 100%;
height: 120px;
padding: 12px 16px;
border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] 
{
  background: #fda40b none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
  border: #fff;
  border-radius: 5px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#071c34;transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
color: #464646;
text-transform: capitalize;
font-size: 14px;
}
.single-input-fieldsbtn1 input[type="submit"] 
{
  background: #071c34 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
  border: #fff;
  border-radius: 5px;
}
.single-input-fieldsbtn1 input[type="submit"]:hover{background:#fda40b; transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
color: #464646;
text-transform: capitalize;
font-size: 14px;
}
.contact-page-form {
display: inline-block;
width: 100%;
margin-top: 30px;
}

.contact-page-map {
margin-top: 36px;
}
.contact-page-form form {
padding: 20px 15px 0;
}
/* social media */
.btn{
  display: inline-block;
  width: 48px;
  height: 45px;
  background: #071c34;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #fda40b;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 30px;
  font-size: 22px;
  transition: 0.2s linear;
}
.btn:hover
{
  color: #fff;
}
/* slider */

.custom-img {
  width: 150px;
  height: 100px;
  animation: scroll 40s linear infinite;
}

.slide-track {
  /* width: 100%; */
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  background-color: whitesmoke;
  padding: 4em 3em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-600%)}
}